<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="logfile" xsi:type="File" fileName="LogFile.txt"  layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    <target name="logconsole" xsi:type="Console"  layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Warn" writeTo="logfile" />
  </rules>
</nlog>